{lib_dirs, ["deps/", "core/"]}.

{deps_dirs, ["rel", "core/saloon"]}.

{deps, [
		{'cowboy', "0.6.*", {git, "git://github.com/extend/cowboy.git", "master"}},
		{'fission', ".*", {git, "git://github.com/manpages/fission.git", "master"}},
		{'erlydtl', "0.7.*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}}
]}.

{sub_dirs, [
			"core/saloon",
			"site",
            "rel"
           ]}.
{erl_opts, [debug_info, fail_on_warning]}.

{require_otp_vsn, "R15"}.
